*{
  scroll-behavior: smooth;
}

#Home {
  /* padding: auto; */
}

#Home_container-1 {
  /* color: #ffffff; */
  /* width: 100%; */
  /* text-align: left; */
  /* padding-top: 160px; */
  /* padding-bottom: 300px; */
  /* padding-left:; */
  /* background-size: cover; */
  /* position: relative; */
  /* background-position: center;
  background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.15)); */
    /* url("/students image.avif"); */
    /* url("/Screenshot 2024-05-01 131327.png"); */
}
#Home_container-3__content-1 {
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-image: 
  linear-gradient(to left, rgba(28, 27, 59, 3), rgba(28, 27, 59, 1),  transparent),
    url("/istockphoto-620952978-612x612.jpg");
}
#Donor{
  padding-top: 120px;
  padding-bottom: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: 
  linear-gradient( rgba(197, 2, 39, 0.8), rgba(197, 2, 39, 0.7)),
    url("/the-samford-clock-tower-jc-findley.jpg");
}
hr{
  border-color: #772030;
}

/* #About_container-1 {
  color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("/istockphoto-639359406-612x612.jpg");
} */

#Contact_container-3 input::placeholder,textarea::placeholder{
  color: rgba(0, 0, 0, 0.666);
}
#Contact_container-3 input:focus,textarea:focus{
  outline: none
}

#accordion-content{
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}


.loader {
  color: #000;
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 .5s infinite alternate linear;
}

@keyframes l21 {
  50%  {box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px}
  100% {box-shadow: 19px 0 0 0  , 38px 0 0 3px, 57px 0 0 7px}
}
